/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}